eisup_2019_docmng_integration/src/WSReferences/abs_ISUZK_Viplata_Zarplati/WsDefinitions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="Viplata_Zarplati"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="Viplata_Zarplati"
		name="abs_ViplataZarplati"
		targetNamespace="Viplata_Zarplati">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="Viplata_Zarplati"
				targetNamespace="Viplata_Zarplati"
				attributeFormDefault="unqualified"
				elementFormDefault="qualified">
			<xs:complexType name="Rezult">
				<xs:sequence>
					<xs:element name="Rez"
							type="xs:boolean"
							nillable="true"/>
					<xs:element name="Error"
							type="xs:string"
							nillable="true"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="CreateVedomost">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Number"
								type="xs:string"/>
						<xs:element name="Date"
								type="xs:date"/>
						<xs:element name="Data"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateVedomostResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xsd1:Rezult"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="CreateVedomostRequestMessage">
		<part name="parameters"
				element="tns:CreateVedomost"/>
	</message>
	<message name="CreateVedomostResponseMessage">
		<part name="parameters"
				element="tns:CreateVedomostResponse"/>
	</message>
	<portType name="abs_ViplataZarplatiPortType">
		<operation name="CreateVedomost">
			<input name="CreateVedomostRequest"
					message="tns:CreateVedomostRequestMessage"/>
			<output name="CreateVedomostResponse"
					message="tns:CreateVedomostResponseMessage"/>
		</operation>
	</portType>
	<binding name="abs_ViplataZarplatiSoapBinding"
			type="tns:abs_ViplataZarplatiPortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="CreateVedomost">
			<soapbind:operation style="document"
					soapAction="Viplata_Zarplati#abs_ViplataZarplati:CreateVedomost"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="abs_ViplataZarplatiSoap12Binding"
			type="tns:abs_ViplataZarplatiPortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="CreateVedomost">
			<soap12bind:operation style="document"
					soapAction="Viplata_Zarplati#abs_ViplataZarplati:CreateVedomost"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="abs_ViplataZarplati">
		<port name="abs_ViplataZarplatiSoap"
				binding="tns:abs_ViplataZarplatiSoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="https://isup-ttk.transtk.ru/ISUZK_Viplata_Zarplati/ws/Viplata_Zarplati.1cws"/>
		</port>
		<port name="abs_ViplataZarplatiSoap12"
				binding="tns:abs_ViplataZarplatiSoap12Binding">
			<soap12bind:address location="https://isup-ttk.transtk.ru/ISUZK_Viplata_Zarplati/ws/Viplata_Zarplati.1cws"/>
		</port>
	</service>
</definitions>