eisup_2019_docmng_integration/src/WSReferences/abs_ISUZK_PaySlip/WsDefinitions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="abs_Payslip"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="abs_Payslip"
		name="abs_PaySlip"
		targetNamespace="abs_Payslip">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="abs_Payslip"
				targetNamespace="abs_Payslip"
				attributeFormDefault="unqualified"
				elementFormDefault="qualified">
			<xs:complexType name="Answer">
				<xs:sequence>
					<xs:element name="Error"
							type="xs:string"
							nillable="true"/>
					<xs:element name="PaySlip"
							type="xs:base64Binary"
							nillable="true"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetPaySlip">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Code"
								type="xs:string"/>
						<xs:element name="Name"
								type="xs:string"/>
						<xs:element name="PeriodBegin"
								type="xs:dateTime"/>
						<xs:element name="PeriodEnd"
								type="xs:dateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetPaySlipResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xsd1:Answer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="GetPaySlipRequestMessage">
		<part name="parameters"
				element="tns:GetPaySlip"/>
	</message>
	<message name="GetPaySlipResponseMessage">
		<part name="parameters"
				element="tns:GetPaySlipResponse"/>
	</message>
	<portType name="abs_PaySlipPortType">
		<operation name="GetPaySlip">
			<input name="GetPaySlipRequest"
					message="tns:GetPaySlipRequestMessage"/>
			<output name="GetPaySlipResponse"
					message="tns:GetPaySlipResponseMessage"/>
		</operation>
	</portType>
	<binding name="abs_PaySlipSoapBinding"
			type="tns:abs_PaySlipPortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetPaySlip">
			<soapbind:operation style="document"
					soapAction="abs_Payslip#abs_PaySlip:GetPaySlip"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="abs_PaySlipSoap12Binding"
			type="tns:abs_PaySlipPortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetPaySlip">
			<soap12bind:operation style="document"
					soapAction="abs_Payslip#abs_PaySlip:GetPaySlip"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="abs_PaySlip">
		<port name="abs_PaySlipSoap"
				binding="tns:abs_PaySlipSoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="https://isup-ttk.transtk.ru/ISUZK_PaySlip/ws/PaySlip.1cws"/>
		</port>
		<port name="abs_PaySlipSoap12"
				binding="tns:abs_PaySlipSoap12Binding">
			<soap12bind:address location="https://isup-ttk.transtk.ru/ISUZK_PaySlip/ws/PaySlip.1cws"/>
		</port>
	</service>
</definitions>